<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Open Navigator 导航站</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">

        <div class="col-md-12" id=banner>
            <h1>{{content}}的导航站</h1>
        </div>

        </br>

        <div class="col-md-12" id=critical-message>
            {{content}}
        </div>

        </br>

        <div class="col-md-12" id=contentArea>
            <ul class="list-group" id=siteGroups>
                <li class="list-group-item" v-for="group in navData">
                    <p class="text-primary"><strong>{{group.groupName}}</strong></p>

                    <ul class="list-inline row">
                        <li class="list-inline-item col-md-1 px-1 my-2" v-for="site in group.sites">
                            <div class="card card-block rounded w-100 h-100 d-flex align-items-stretch"><a
                                    v-bind:href="site.url">{{site.name}}</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <script src="js/renderPage.js"></script>
    </script>
</body>

</html>